/***********************************
This stylesheet is created for ASME. 
Begain editing from 24th May 2012
Edited by Kangning
Contact:
---------------------
Email: liukangning@gmail.cm, liu.kangning@163.com
QQ: 410532598
************************************/
@charset "utf-8";
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; } 
ol,ul {list-style:none; } 
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px/1.6 Tahoma, Geneva, sans-serif; background-color:#FFF;} 
a{color: #0070b7;text-decoration: underline;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
*:focus { outline: none; }

/*
Global Styles
*/
@font-face {
 font-family: Helvetica;
 src: url("../font/Helvetica.eot"); /* EOT file for IE */
 src: url("../font/Helvetica.ttf"); /* TTF file for CSS3 browsers */
}
html{
	/*height:100%;*/
}
body{
	background:#fff url(../../im/body_bg.jpg) center 0 repeat-x;
}
#login_box{
	width:41px;
	height:170px;
	background:url(../../im/login_bg.png) 0 0 no-repeat;
	position: absolute;
	margin-top:158px;
}
#wrapper{
	width:960px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
#header{
	position:relative;
	height:135px;
	background:#fff url(../../im/logo.jpg) left top no-repeat;
	-webkit-box-shadow: #000 0px 0px 20px;
	   -moz-box-shadow: #000 0px 0px 20px;
	        box-shadow: #000 0px 0px 20px;
}
#header_right{
	float: right;
	background: url(../../im/right_bg.jpg) 0 0 repeat-x;
	/*height:100px;*/
	overflow: hidden;
}
#header_right_inner{
	background: url(../../im/right_shadow.png) 0 0 no-repeat;
	height:96px;
	width:735px;
	padding: 4px 0px 0px 7px;
}
#nav{
	height:35px;
	width:960px;
	float: left;
	background:url(../../im/nav_bg.jpg) 0 0 repeat-x;
}
#nav li{
	height:35px;
	float: left;
}
#nav li a{
	text-decoration: none;
	color: #fff;
	padding: 0px 10px;
	font:normal 14px/35px Helvetica, Arial, "MS Trebuchet", sans-serif;
	display: inline-block;
}
#nav li a.current,
#nav li a:hover{
	background:url(../../im/nav_current_bg.jpg) 0 0 repeat-x;
}
#nav li a.current{
	font-weight:bold;
}
#banner{
	height:264px;
}
.banner_left{
	width:762px;
	height:124px;
	padding-top:140px;
	float: left;
	color: #fff;
}
.banner_right{
	float: right;
	width:198px;
	height:264px;
	background: url(../../im/banner_right_bg.png) 0 0 repeat;
}
.banner_right li{
	width:184px;
	height:74px;
	padding:14px 0 0 14px;
	background: url(../../im/banner_right_shadow.png) center 0 no-repeat;
}
.banner_right li:first-child{
	background: none;
}
h1{
	font:normal 48px  Helvetica, Arial, "MS Trebuchet", sans-serif;
	text-transform: uppercase;
	text-shadow: 0 0 8px #000;
}
h1 + p{
	font:normal 14px Arial, "MS Trebuchet", sans-serif;
	padding-right:20px;
}
/*h1{
	filter：shadow(Color=black,Direction=0,Strength=200);
}*/
.banner_right li a{
	display: block;
	height:74px;
	padding-left:60px;
	text-decoration:none;
	color: #fff;
}
#banner_right_1 a{
	background:url(../../im/right_logo_1.jpg) 0 0 no-repeat;
}
#banner_right_2 a{
	background:url(../../im/right_logo_2.jpg) 0 0 no-repeat;
}
#banner_right_3 a{
	background:url(../../im/right_logo_3.jpg) 0 0 no-repeat;
}
h2{
	text-transform:uppercase;
	font:normal 24px/18px Helvetica, Arial, "MS Trebuchet", sans-serif;
}
h2 + p{
	padding:5px 10px 0 0;
	line-height:14px;
}
#events_news{
	height:158px;
	background:url(../../im/events_news_bg.jpg) 0 0 repeat-x;
}
h3{
	text-transform:uppercase;
	border-bottom:1px dotted #68738a;
	color: #fff;
	font:normal 18px/33px Helvetica, Arial, "MS Trebuchet", sans-serif;
	height:33px;
	width:100%;
	margin-bottom:8px;
}
h3 a{
	float:right;
	color:#fff;
	font:bold 12px/33px Arial, "MS Trebuchet", sans-serif;
	text-transform: capitalize;
}
#events_news > div{
	padding:0 12px;
	float: left;
}
#events{
	background:url(../../im/event_shadow.png) right -5px no-repeat;
	width:617px;
}
#news{
	width:290px;
	padding-right:0px;
	color: #fff;
}
.media{
	background:#4762a2;
	float: left;
	line-height:15px;
	padding: 0px 7px 0px;
	padding: 0px 7px 2px\9;
	border-left:1px solid #354c83;
	border-bottom:1px solid #354c83;
	font-weight:bold;
}
.news_ul{
	height:85px;
}
.news_ul li{
	display: none;
}
.news_ul li a{
	color: #fff;
	text-decoration:none;
}
.news_ul li:first-child{
	display: block;
}
h4{
	clear: both;
	font:normal 16px/18px Helvetica, Arial, "MS Trebuchet", sans-serif;
	padding-left:10px;
	padding-top:5px;
	background:url(../../im/dot.png) 0 13px no-repeat;
}
h4 + p{
	padding-left:10px;
}
.news_pag{
	float: right;
}
.news_pag li{
	float: left;
}
.prev,
.next{
	width:20px;
	height:20px;
	background-image:url(../../im/arrow.png);
	background-repeat:no-repeat;
	cursor: pointer;
}
.prev{
	background-position: center 5px;
}
.next{
	background-position: center -14px;
}
table#bottom_content{
	width:100%;
	margin-bottom:69px;
}
table#bottom_content td{
	background:#a4a4a4;
	height:90px;
	border-top:10px solid #fff;
}
table#bottom_content td:first-child{
	border-right:10px solid #fff;
	width:350px;
}
table#bottom_content tr.first_tr td{
	height:190px;
}
table#bottom_content td img{
	display: block;
}
table#bottom_content td.ad_td{
	border-left:10px solid #fff;
	width:190px;
}
table#bottom_content td#center_td{
	background:url(../../im/center_td_bg.jpg) 0 0 no-repeat;
	width:400px;
	vertical-align: top;
}
table#bottom_content td#center_td h3{
	border:none;
	padding:0 14px;
	width:auto;
}
table#bottom_content td#center_td h3 span{
	color: #333333;
}
.center_ul{
	/*list-style: disc;*/
	padding:0 10px 0 15px;
}
.center_ul li{
	font:normal 12px Arial, 'MS Trebuchet', sans-serif;
	padding:0 0 2px 10px;
	background:url(../../im/li_dot.png) 0 6px no-repeat;
}
.center_ul li a{
	color: #333;
	text-decoration:none;
}
.center_ul li a:hover{
	text-decoration:underline;
}
#footer{
	background:url(../../im/footer_bg.jpg) 0 0 repeat-x;
}
#real_footer{
	width:960px;
	height:60px;
	margin:0 auto;
	line-height:60px;
	font-size:11px;
	color: #333333;
}
#a_wrapper{
	float: right;
}
#a_wrapper a{
	color: #333;
}

/******** Coming Soon page *********/
body#coming_soon{
	background:#38393b url(../../im/coming_soon_bg.jpg) center 0 no-repeat;
}
#coming_soon_footer{
	width:980px;
	color: #fff;
	font-size:11px;
	margin: 0 auto;
	padding:792px 0 120px;
}