/***********************************
This stylesheet is created for ASME. 
Begain editing from 24th May 2012
Edited by Kangning
Contact:
---------------------
Email: liukangning@gmail.cm, liu.kangning@163.com
QQ: 410532598
************************************/
@charset "utf-8";
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; } 
ol,ul {list-style:none; } 
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px/1.6 Tahoma, Geneva, sans-serif; background-color:#FFF;} 
a{color: #0070b7;text-decoration: underline;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
*:focus { outline: none; }

/*
Global Styles
*/
html{
	/*height:100%;*/
}
body{
	background:#f0fbfd url(../../im/body_bg.jpg) center 0 repeat-x;
}
#wrapper{
	width:960px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
#header{
	position:relative;
	height:135px;
	background:#fff url(../../im/logo.jpg) left top no-repeat;
	-webkit-box-shadow: #000 0px 0px 20px;
	   -moz-box-shadow: #000 0px 0px 20px;
	        box-shadow: #000 0px 0px 20px;
}
#header_right{
	float: right;
	background: url(../../im/right_bg.jpg) 0 0 repeat-x;
	/*height:100px;*/
	overflow: hidden;
}
#header_right_inner{
	background: url(../../im/right_shadow.png) 0 0 no-repeat;
	height:96px;
	width:735px;
	padding: 4px 0px 0px 7px;
}
#nav{
	height:35px;
	width:960px;
	float: left;
	background:url(../../im/nav_bg.jpg) 0 0 repeat-x;
}
#nav li{
	height:35px;
	float: left;
}
#nav li a{
	text-decoration: none;
	color: #fff;
	padding: 0px 10px;
	font:bold 14px/35px "Trebuchet MS", Arial, "MS Trebuchet", sans-serif;
	display: inline-block;
}
#nav li a.current,
#nav li a:hover{
	background:url(../../im/nav_current_bg.jpg) 0 0 repeat-x;
}
#banner{
	height:264px;
}
.banner_left{
	width:762px;
	height:124px;
	padding-top:140px;
	float: left;
	color: #fff;
}
.banner_right{
	float: right;
	width:198px;
	height:264px;
	background: url(../../im/banner_right_bg.png) 0 0 repeat;
}
.banner_right li{
	width:184px;
	height:74px;
	padding:14px 0 0 14px;
	background: url(../../im/banner_right_shadow.png) center 0 no-repeat;
}
.banner_right li:first-child{
	background: none;
}
h1{
	font:bold 48px  "Trebuchet MS", Arial, "MS Trebuchet", sans-serif;
	text-transform: uppercase;
	text-shadow: 0 0 8px #000;
}
h1 + p{
	font:normal 14px Arial, "MS Trebuchet", sans-serif;
	padding-right:20px;
}
/*h1{
	filter：shadow(Color=black,Direction=0,Strength=200);
}*/
.banner_right li a{
	display: block;
	height:74px;
	padding-left:60px;
	text-decoration:none;
	color: #fff;
}
#banner_right_1 a{
	background:url(../../im/right_logo_1.jpg) 0 0 no-repeat;
}
#banner_right_2 a{
	background:url(../../im/right_logo_2.jpg) 0 0 no-repeat;
}
#banner_right_3 a{
	background:url(../../im/right_logo_3.jpg) 0 0 no-repeat;
}
h2{
	text-transform:uppercase;
	font:normal 24px/18px Arial, "MS Trebuchet", sans-serif;
}
h2 + p{
	padding:5px 10px 0 0;
	line-height:14px;
}