/***********************************
This stylesheet is created for ASME. 
Begain editing from 24th May 2012
Edited by Kangning
Contact:
---------------------
Email: liukangning@gmail.cm, liu.kangning@163.com
QQ: 410532598
************************************/
@charset "utf-8";
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; } 
ol,ul {list-style:none; } 
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px/1.6 Tahoma, Geneva, sans-serif; background-color:#FFF;} 
a{color: #0070b7;text-decoration: underline;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
*:focus { outline: none; }

/*
Global Styles
*/
@font-face {
 font-family: Helvetica;
 src: url("../font/Helvetica.eot"); /* EOT file for IE */
 src: url("../font/Helvetica.ttf"); /* TTF file for CSS3 browsers */
}
html{
	/*height:100%;*/
}
body{
	/*background:#fff url(../../im/body_bg.jpg) center 0 repeat-x;*/
	background:#fff url(../../im/banner_img1.jpg) center 0 repeat-x;
}
body.banner_1{
	background:#fff url(../../im/banner_img2.jpg) center 0 repeat-x;
}
body.banner_1 h1{
	text-shadow: none;
	color: #000;
}
body.banner_1 h1 + p{
	color:#333;
}
body.banner_2{
	background:#fff url(../../im/banner_img3.jpg) center 0 repeat-x;
}
body.banner_3{
	background:#fff url(../../im/banner_img4.jpg) center 0 repeat-x;
}
body.banner_4{
	background:#fff url(../../im/banner_img1.jpg) center 0 repeat-x;
}
body.banner_5{
	background:#fff url(../../im/banner_img5.jpg) center 0 repeat-x;
}
body.banner_5 h1{
	text-shadow: none;
	color: #000;
}
body.banner_5 h1 + p{
	color:#000;
}
#login_box{
	width:41px;
	height:170px;
	background:url(../../im/login_bg.png) 0 0 no-repeat;
	position: absolute;
	margin-top:158px;
}
#wrapper{
	width:960px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
#header{
	position:relative;
	height:135px;
	background:#fff url(../../im/logo.jpg) 3px top no-repeat;
	-webkit-box-shadow: #000 0px 0px 20px;
	   -moz-box-shadow: #000 0px 0px 20px;
	        box-shadow: #000 0px 0px 20px;
}
#home_link{
	display: block;
	float:left;
	width:210px;
	height:100px;
}
#header_right{
	float: right;
	background: url(../../im/right_bg.jpg) 0 0 repeat-x;
	/*height:100px;*/
	overflow: hidden;
}
#header_right_inner{
	background: url(../../im/right_shadow.png) 0 0 no-repeat;
	height:96px;
	width:733px;
	padding: 4px 0px 0px 7px;
}
#expandable{
	display: none;
	position: absolute;
	top:0;
	*margin-left:-732px;
}
#nav{
	height:35px;
	width:960px;
	float: left;
	background:url(../../im/nav_bg.jpg) 0 0 repeat-x;
}
#nav > li{
	height:35px;
	float: left;
}
#nav > li > a{
	text-decoration: none;
	color: #fff;
	padding: 0px 8px;
	font:normal 14px/35px Helvetica, Arial, "MS Trebuchet", sans-serif;
	height:auto;
	display: inline-block;
	/*text-indent:-9999px;*/
	background:url(../../im/nav.png) 0 center no-repeat;
}
#nav > li.current,
#nav > li:hover{
	background:url(../../im/nav_current_bg.jpg) 0 0 repeat-x;
}
#nav > li > a.current{
	/*font-weight:bold;*/
}
#nav .sec_lvl{
	display:none;
	background:#b52530 url(../../im/nav_bg_lvl_2.jpg) 0 0 repeat-x;
	margin-top:-5px;
	margin-top:0px;
}
#nav > li:hover .sec_lvl{
	display:block;
}
#nav .sec_lvl > li{
}
#nav .sec_lvl > li:hover{
	background:#d8202e;
}
#nav .sec_lvl > li > a.has_child{
	background:url(../../im/has_child.png) right center no-repeat;
}
#nav .sec_lvl > li:hover > a.has_child{
	background:url(../../im/has_child_current.png) right center no-repeat;
}
#nav .sec_lvl > li > a{
	display: block;
	padding:0px 24px 0 10px;
	color:#fff;
	text-decoration:none;
	font:normal 12px/22px Arial, "MS Trebuchet", sans-serif;
}
#sec_lvl_2 > li > a{
	/*width:130px;*/
}
#nav .thr_lvl{
	display:none;
	position: absolute;
	background:#d8202e;
	margin:-88px 199px;
}
#nav .sec_lvl > li:hover > .thr_lvl{
	display:block;
}
#nav .thr_lvl a{
	display: block;
	padding:0px 10px 0 10px;
	color:#fff;
	text-decoration:none;
	font:normal 12px/22px Arial, "MS Trebuchet", sans-serif;
}
#nav .thr_lvl a:hover{
	text-decoration:underline;
	font:bold 12px/22px Arial, "MS Trebuchet", sans-serif;
}
#nav .sec_lvl > li.two_lines{
	padding-top:3px;
	padding-bottom:3px;
}
#nav .sec_lvl > li.two_lines > a{
	line-height:12px;
}
#nav > li#fir_lvl_1 > a{
	width:45px;
	background-position:13px center;
}
#fir_lvl_2{
	width:90px;
	/*width:110px\9;*/
}
#nav > li#fir_lvl_2 > a{
	width:74px;
	background-position:-53px center;
}
#fir_lvl_2 > ul{
	width:199px;
}
#fir_lvl_2 > .sec_lvl > li > a{
	width:165px;
}
#fir_lvl_2 .sec_lvl{
	/* height:132px; */
	height:auto;
}
#fir_lvl_2 .thr_lvl{
	margin-top:-22px;
}
#fir_lvl_2 .thr_lvl a{
	width:182px;
}
#nav > li#fir_lvl_3 > a{
	width:70px;
	background-position:-149px center;
}
#fir_lvl_4{
	width:91px;
	/*width:110px\9;*/
}
#nav > li#fir_lvl_4 > a{
	width:75px;
	background-position:-238px center;
}
#fir_lvl_4 > ul{
	width:165px;
}
#fir_lvl_4 > .sec_lvl > li > a{
	width:130px;
}
#fir_lvl_5{
	width:136px;
	/*width:110px\9;*/
}
#nav > li#fir_lvl_5 > a{
	width:120px;
	background-position:-337px center;
}
#fir_lvl_6{
	width:63px;
	/*width:80px\9;*/
}
#nav > li#fir_lvl_6 > a{
	width:47px;
	background-position:-480px center;
}
#fir_lvl_6 > ul{
	width:235px;
}
#fir_lvl_6 > .sec_lvl > li > a{
	width:200px;
}
#fir_lvl_7{
	width:103px;
	/*width:130px\9;*/
}
#nav > li#fir_lvl_7 > a{
	width:87px;
	background-position:-551px center;
}
#fir_lvl_7 > ul{
	width:225px;
}
#fir_lvl_7:hover .thr_lvl{
	/*display: block;*/
}
#fir_lvl_7 > .sec_lvl > li > a{
	width:190px;
}
#fir_lvl_7 .sec_lvl{
	/*height:250px;*/
}
#fir_lvl_7 .thr_lvl{
	margin:-22px 0 0 225px;
	/*height:250px;*/
}
/*#fir_lvl_7 #thr_lvl_9.thr_lvl{
	margin:-198px 0 0 225px;
}*/
#fir_lvl_7 #thr_lvl_2.thr_lvl{
	margin:-44px 0 0 225px;
}
#fir_lvl_7 #thr_lvl_3.thr_lvl{
	margin:-66px 0 0 225px;
}
#fir_lvl_7 .thr_lvl a{
	/* width:199px; */
	width:230px;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
	#fir_lvl_7 .thr_lvl a{
		width:188px;
}*//* Opera、Safari 、Chrome */
	}
#fir_lvl_8{
	width:86px;
}
#nav > li#fir_lvl_8 > a{
	width:70px;
	background-position:-657px center;
}
#nav #right_li{
	float: right;
}
#nav #right_li:hover{
	background:none;
}
#nav #right_li *{
	float: left;
}
#search{
	border:none;
	margin: 0;
	padding: 0;
	background:#fff;
	height:20px;
	width:115px;
	margin: 7px 0px 40px 0px;
}
#search_btn{
	border:none;
	margin: 0;
	padding: 0;
	height:20px;
	width:22px;
	margin: 7px 4px 0px 0px;
	background: #fff url(../../im/search.jpg) center center no-repeat;
}
#nav #like_btn{
	/*text-indent:-10000px;*/
	/*float:right;*/
	width:21px;
	height:35px;
	background:url(../../im/like.png) center center no-repeat;
	margin:0 5px 0 0;
	padding:0;
}
#nav #fb_btn{
	/*text-indent:-10000px;*/
	/*float:right;*/
	width:23px;
	height:35px;
	background:url(../../im/fb.png) center 7px no-repeat;
	margin:0 3px 0 0;
	padding:0;
}
#nav #fb_btn a{
	display:block;
	background:none;
}
#banner{
	height:264px;
}
.banner_left{
	width:762px;
	height:124px;
	padding-top:140px;
	float: left;
	color: #fff;
}
.banner_right{
	float: right;
	width:198px;
	height:264px;
	background: url(../../im/banner_right_bg.png) 0 0 repeat;
}
.banner_right li{
	width:184px;
	height:74px;
	padding:14px 0 0 14px;
	background: url(../../im/banner_right_shadow.png) center 0 no-repeat;
}
.banner_right li:first-child{
	background: none;
}
h1{
	font:normal 48px  Helvetica, Arial, "MS Trebuchet", sans-serif;
	text-transform: uppercase;
	text-shadow: 0 0 8px #000;
}
h1 + p{
	font:normal 14px Arial, "MS Trebuchet", sans-serif;
	padding-right:10px;
	text-align:justify;
}
/*h1{
	filter：shadow(Color=black,Direction=0,Strength=200);
}*/
.banner_right li a{
	display: block;
	height:74px;
	padding-left:60px;
	text-decoration:none;
	color: #fff;
}
#banner_right_1 a{
	background:url(../../im/right_logo_1.jpg) 0 0 no-repeat;
}
#banner_right_2 a{
	background:url(../../im/right_logo_2.jpg) 0 0 no-repeat;
}
#banner_right_3 a{
	background:url(../../im/right_logo_3.jpg) 0 0 no-repeat;
}
h2{
	text-transform:uppercase;
	font:normal 24px/18px Helvetica, Arial, "MS Trebuchet", sans-serif;
}
h2 + p{
	padding:5px 10px 0 0;
	line-height:14px;
}
#events_news{
	height:158px;
	background:url(../../im/events_news_bg.jpg) 0 0 repeat-x;
}
h3{
	text-transform:uppercase;
	border-bottom:1px dotted #68738a;
	color: #fff;
	font:normal 18px/33px Helvetica, Arial, "MS Trebuchet", sans-serif;
	height:33px;
	width:100%;
	margin-bottom:8px;
}
h3 a{
	float:right;
	color:#fff;
	font:bold 12px/33px Arial, "MS Trebuchet", sans-serif;
	text-transform: capitalize;
}
#events_news > div{
	padding:0 15px;
	float: left;
	height:158px;
	background:url(../../im/event_shadow.png) right -5px no-repeat;
}
#events{
	/*width:617px;*/
}
#news{
	width:319px;
	padding-right:0px;
	color: #fff;
}
#events_news #speakers{
	background:none;
	padding-right:0;
}
.speaders_content{
	display:block;
	width:164px;
	height:58px;
	padding:50px 0 0 10px;
	background:url(../../im/speakers_bg.jpg) 0 0 no-repeat;
	font:normal 18px/20px Helvetica, Arial, sans-serif;
	color:#000;
	text-decoration:none;
}
.speaders_content:hover{
	text-decoration:none;
}
.speaders_content p{
	clear: both;
	font-size:24px;
	padding-bottom:3px;
}
.speaders_content .media{
	font-size:12px;
	margin-bottom:8px;
}
.media{
	background:#4762a2;
	float: left;
	line-height:15px;
	padding: 0px 7px 0px;
	padding: 0px 7px 2px\9;
	border-left:1px solid #354c83;
	border-bottom:1px solid #354c83;
	font-weight:bold;
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
}
.news_ul{
	height:85px;
}
.news_ul li{
	display: none;
}
.news_ul li a{
	color: #fff;
	text-decoration:none;
}
.news_ul li:first-child{
	display: block;
}
h4{
	clear: both;
	font:normal 16px/18px Helvetica, Arial, "MS Trebuchet", sans-serif;
	padding-left:10px;
	padding-top:5px;
	background:url(../../im/dot.png) 0 13px no-repeat;
}
h4 + p{
	padding-left:10px;
}
.news_pag{
	float: right;
}
.news_pag li{
	float: left;
}
.prev,
.next{
	width:20px;
	height:20px;
	background-image:url(../../im/arrow.png);
	background-repeat:no-repeat;
	cursor: pointer;
}
.prev{
	background-position: center 5px;
}
.next{
	background-position: center -14px;
}
table#bottom_content{
	width:100%;
	margin-bottom:69px;
}
table#bottom_content td{
	background:#eeeeee url(../../im/ad_bg_big.jpg) right 0 no-repeat;
	height:90px;
	border-top:10px solid #fff;
}
table#bottom_content td:first-child{
	background:#f0f0f0 url(../../im/ad_bg_small.jpg) 0 0 no-repeat;
	border-right:10px solid #fff;
	width:350px;
}
table#bottom_content tr.first_tr td{
	height:190px;
}
table#bottom_content td img{
	display: block;
}
table#bottom_content td.ad_td{
	border-left:10px solid #fff;
	width:190px;
	vertical-align:top;
}
table#bottom_content td.ad_td div{
	position: absolute;/*kn*/
	display: none;
}
table#bottom_content td.ad_td div.square_1{
	display: block;
}
table#bottom_content td#magazine_td{
	background:url(../../im/center_td_bg.jpg) 0 0 no-repeat;
	width:350px;
	width:350px\9;
	vertical-align: top;
}
table#bottom_content td#center_td{
	background:url(../../im/center_td_bg.jpg) 0 0 no-repeat;
	width:400px;
	width:401px\9;
	vertical-align: top;
}
table#bottom_content td#magazine_td h3,
table#bottom_content td#center_td h3{
	border:none;
	padding:0 14px;
	width:auto;
}
table#bottom_content td#magazine_td h3{
	margin-bottom:3px;
}
table#bottom_content td#magazine_td h3 span,
table#bottom_content td#center_td h3 span{
	color: #333333;
}
.mgz_ul li{
	background:url(../../im/li_dot.png) 0 8px no-repeat;
	padding:0 0 0 15px;
	line-height:14px;
	color: #656565;
}
.mgz_ul li span,
.mgz_ul li strong{
	display:block;
	clear: both;
	color: #000;
}
.mgz_wrapper{
	padding:0 0 0 20px;
	float: left;
}
.mgz_wrapper .media{
	margin:3px 0 0 0px;
	color: #fff;
}
.digest{
	font:normal 18px Helvetica, Arial, sans-serif;
	clear: both;
}
.digest a{
	display: inline-block;
}
.mgz_cover{
	height:153px;
	width:123px;
	background:url(../../im/mgz.jpg) right 0 no-repeat;
	float: right;
}
.issue{
	background:#d12931;
	color: #fff;
	width:111px;
	height:26px;
	text-align:center;
	font:bold 16px/26px Arial, Helvetica, sans-serif;
	margin-top:122px;
}
.center_ul{
	/*list-style: disc;*/
	padding:0 10px 0 15px;
}
.center_ul li{
	font:normal 12px Arial, 'MS Trebuchet', sans-serif;
	padding:0 0 2px 10px;
	background:url(../../im/li_dot.png) 0 6px no-repeat;
}
.center_ul li a{
	color: #333;
	text-decoration:none;
}
.center_ul li a:hover{
	text-decoration:underline;
}
#footer{
	background:#e2e2e2 url(../../im/footer_bg.jpg) 0 0 repeat-x;
}
#real_footer{
	width:960px;
	/*height:60px;*/
	margin:0 auto;
	line-height:48px;
	font-size:11px;
	color: #333333;
}
#partners{
	height:87px;
	color: #5c5c5c;
	font:bold 12px Arial, Helvetica, sans-serif;
	padding-top:15px;
	border-bottom:1px solid #c7c6c7;
	background:url(../../im/partners.jpg) 0 32px no-repeat;
}
#footer_bottom{
	border-top:1px solid #ffffff;
}
#a_wrapper{
	float: right;
}
#a_wrapper a{
	color: #333;
}

/******** Coming Soon page *********/
body#coming_soon{
	background:#38393b url(../../im/coming_soon_bg.jpg) center 0 no-repeat;
}
#coming_soon_footer{
	width:980px;
	color: #fff;
	font-size:11px;
	margin: 0 auto;
	padding:700px 0 20px;
}

/******* Subpage *********/
body.sub_body{
	/*background:url(image-url.gif) center 0 repeat-x;*/
}
.big_black{
	font:normal 38px Helvetica, Arial, sans-serif;
	color:#333333;
}
.banner_left.sub{
	padding-top:70px;
}
#sub_content{
	background:#fff;
	padding:20px;
	overflow: hidden;
}
.sub_body #banner{
	height:220px;
}
.sub_left{
	width:690px;
	float: left;
}
.bread_crumbs{
	font:normal 14px/24px Arial, Helvetica, sans-serif;
	color: #0f0f0f;
	border-bottom:1px solid #d0d0d0;
	padding-bottom:5px;
	margin-bottom:5px;
}
.bread_crumbs span{
	color: #888;
}
.sub_left p{
	padding:8px 0;
}
.sub_right{
	width:190px;
	float: right;
}
.sub_right a{
	display: block;
	margin-bottom:10px;
}
.sub_left_table{
	border-top:1px solid #d0d0d0;
}
.sub_left_table td{
	padding:15px 0 0;
	color: #333;
}
h5{
	font:normal 24px/50px Helvetica, Arial, sans-serif;
	color: #333;
	text-transform:uppercase;
	padding-left:50px;
	background:url(../../im/icons.jpg) 0 0 no-repeat;
	height:50px;
}
h5#sub_h5_1{
	background-position:0 0;
}
h5#sub_h5_2{
	background-position:0 -50px;
}
h5#sub_h5_3{
	background-position:0 -100px;
	line-height:22px;
	padding-top:3px;
	height:47px;
}
h5#sub_h5_4{
	background-position:0 -150px;
}
h5#sub_h5_5{
	background-position:0 -200px;
}
h5#sub_h5_6{
	background-position:0 -250px;
}